/**
 * Annotated CSS for HintletReportDialog.java.
 */

.glassPane {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #000;
  z-index: 100;
}

.reportPane {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 25px;
  right:25px;
  bottom: 25px;
  background-color: #fff;
  border: 1px solid black;
  overflow: hidden;
  z-index: 101;
}

.reportTitle {  
  font-size: 20px;
  font-weight: bold;	
}

.reportPaneInner {
  position: absolute;
  margin: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@sprite .reportClose {
  gwt-image: "reportClose";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
}
