/* Annotated Css for EventTraceBreakdown.java */
@def widgetWidth  100px;
@def listMargin  6px;
@def itemMargin  15px;
@def masterHeight 14px;
@def borderThickness  1px;
@def sideMargins 5px;

.eventGraph {
  position: absolute;
  \-webkit-box-sizing: border-box;
  top:0;
  height: 99%;
  z-index: 200;
}

.eventGraphGuides {
  position: absolute;
  \-webkit-box-sizing: border-box;
  top: 0;
  bottom: 0;
  border-left: borderThickness solid #ccc;
  border-right: borderThickness solid #ccc;
}