/**
 * Annotated CSS for ZippyLogger.java.
 */
.zippyLogger {
  position:absolute;
  bottom: 2px;
  right: 2px;
  z-index: 50;
  border: 1px solid #666;
  background-color: #fff;
}

.entries {
  width: 306px;
  height: 400px;
  font-size: 8pt;
  overflow: auto;
}

.label {
  background-color: #4e95ea;
  color: #fff;
  padding: 4px;
  cursor: pointer;
  font-size: 60%;
  font-weight: bold;
}

.labelError {
  background-color: #990000;
  color: #fff;
  padding: 4px;
  cursor: pointer;
  font-size: 60%;
  font-weight: bold;
}

.evenError {
  background-color: #ef9292;
  font-size: 80%;
}

.evenError:hover {
  background-color: #ffe6e6;
}

.oddError {
  background-color: #d37c76;
  font-size: 80%;
}

.oddError:hover {
  background-color: #ffe6e6;
}
