/**
 * Annotated CSS for InlineMenu.java.
 */
@sprite .inlineMenu {
  gwt-image: "inlineMenuBg";
  position: fixed;
  width: 40px;
  height: 40px;
  display: none;
  opacity: 0.9;
  z-index: 35;
}

.content {
  position: absolute;
  left: 0;
  top: 0;
}

@sprite .help {
  gwt-image: "questionMark";
  position: absolute;
  right: 0;
  top: 3px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

@sprite .menuItem {
  gwt-image: "inlineMenuItem";
  position: absolute;
  width: 48px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  font-size: 7pt;
  cursor: pointer;
}

@sprite .menuItem:hover {
  gwt-image: "inlineMenuItemHover";
}